.ml-auto{
    margin-left: auto !important;
}
header{
    background-color: #3866A4;
    color: white;
}
header nav h3{
    margin-left: 50px;
}
header nav ul ul li a i{
    margin-right: 12px;
}
.nav-item:hover{
    background-color: #3866A4;
}
.mauxanh{
    background: #3866A4;
    color: white;
}
ul .nav-item{
    margin-bottom: 10px;
    margin-top: 10px;
}
.col-2 >ul >a {
    color:#fff;
    text-decoration: none;
}
.collapse-inner a{
    text-decoration: none;
}
.collapse-item{
    display: block;
}